@model PrivateViewModel

<h1 property="name" id="wb-cont">Only authenticated users can see this page.</h1>

<p>First user's display name from Microsoft Graph: <b>{@Model.FirstUserDisplayName}</b></p>
